#!/bin/sh

export XDG_CONFIG_HOME="$HOME/.config"
export TERM=xterm-256color
export QT_QPA_PLATFORMTHEME=qt5ct
# export TERMINAL="mlterm --fontsize=$((GDK_SCALE*15))"
export TERMINAL="konsole"
export ROFI_THEME=$HOME/.config/rofi/themes/dracula.rasi
# export ROFI_THEME=$HOME/.config/rofi/themes/dracula.rasi
export ROFI_THEME=sidebar
export EDITOR=vim
export RTV_EDITOR=vim

# my scripts and flutter executables
export PATH=$PATH:$HOME/.local/bin
export PATH=$HOME/.local/bin/flutter/bin:$PATH
export PATH=$HOME/.local/bin/flutter/bin/cache/dart-sdk/bin:$PATH
export PATH=$HOME/.pub-cache/bin/:$PATH
export NODE_PATH=$NODE_PATH:$(npm root -g)

# for java applications
export AWT_TOOLKIT=MToolkit
# [[ -f ~/.bashrc ]] && source .bashrc
# bspwm

# since .xinit is no longer ran when logging in from lightdm
if [ "$GDK_SCALE" -eq 2 ]; then
    xrandr --dpi 200
fi
# 280 ms before repeat, 20 letters per second
xset r rate 400 30
